:root {
    --black: #0A0903;
    --red: #FF0000;
    --orange: #FF8200;
    --yellow: #FFC100;
    --beige: #FFEAAE;
    --main-font: 'Mukta Malar', 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--main-font);
    color: var(--black);
    background-color: var(--beige);
    min-width: 369px;
}

header {
    display: grid;
    grid-template-columns: 50px auto 50px;
    padding: .7rem;
}

/* Hero styles */
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -65.37px;
    z-index: -2;
}


.logo h1 {
    text-align: center;
    font-size: 1.6rem;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}

.logo a {
    position: relative;
    text-decoration: none;
    color: var(--beige);
}

/* Nav */
#navbutton {
    background: none;
    border: none;
    font-size: 2rem;
    z-index: 101;
    color: var(--beige);
    cursor: pointer;
    position: relative;
}

#navbutton::before {
    content: "☰";
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}

#navbutton.open::before {
    content: "×";
}

nav ul.menulinks {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border: 1px solid var(--black);
    z-index: 100;
    opacity: 0;
    /* pointer-events: none; */
}

nav ul {
    overflow: hidden;
}

nav.open li a,
nav.li a {
    display: block;
    text-decoration: none;
}

nav ul.menulinks a {
    font-size: 1.5rem;
    padding: .5rem;
    text-decoration: none;
    color: var(--beige);
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}

nav ul.menulinks li {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    /* color: var(--beige); */
    /* border: 1px solid red; */
}

nav ul.menulinks li:hover {
    background-color: var(--orange);
}

nav ul.menulinks li a:hover{
    color: var(--black);
}

nav ul.menulinks.show {
    transform: translateY(0);
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

li.active {
    text-decoration: underline;
    color: var(--beige);
    background-color: rgba(0, 0, 0, 0.2);
}

ul.menulinks {
    list-style-type: none;
}

ul.menulinks.open {
    display: block;
}

/* Socials on top of hero */
#socials {
    text-align: center;
    gap: 1rem;
    margin-top: -70px;
    z-index: 1;
}

#socials img {
    max-width: 44px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.9));
}

.shows {
    margin: 1rem;
    text-align: center;
}

footer {
    background-color: var(--black);
    text-align: center;
}

footer a,
footer p {
    color: var(--beige);
    text-decoration: none;
    padding: .7rem;
}

.footer-socials img {
    max-width: 44px;
    margin: .7rem 0;
}