:root {
    --black: #0A0903;
    --red: #FF0000;
    --orange: #FF8200;
    --yellow: #FFC100;
    --beige: #FFEAAE;
    --main-font: 'Mukta Malar', 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--black);
    background-color: var(--beige);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}