@media (min-width: 64rem) {
    #navbutton {
        display: none;
    }

    header {
        text-align: center;
        display: block;
    }

    .logo h1 {
        font-size: 2rem;
    }

    nav {
        display: flex;
        justify-content: space-around
    }

    nav ul.menulinks {
        transform: none;
        opacity: 1;
        position: static;
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: row;
        background: none;
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    ul.menulinks li a {
        font-size: 1.1rem;
        text-decoration: none;
    }

    /* ul.menulinks, ul.menulinks.open {
        justify-content: flex-end;
    } */

    ul.menulinks li {
        /* border: 1px solid orange; */
        padding: .5rem;
        color: var(--beige);
        background: none;
    }

    .hero img {
        margin-top: -121px;
    }

}