@media (min-width: 640px) {
    #navmenu {
        display: flex;
    }

    #navmenu li {
        display: block;
        flex: 1 1 100%;
    }

    #navmenu a {
        text-align: center;
    }

    #menu {
        display: none;
    }
}