:root {
    --darkgreen: #212922;
    --ivory: #F6F7EB;
    --red: #E94F37;
    --blue: #3F88C5;
    --font: "Ubuntu Sans", Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

#menu {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    justify-items: center;
    background-color: var(--blue);
    color: var(--ivory);
    padding: .1rem 0 .2rem 1rem;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "x";
}

.mainheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkgreen);
    /* border: 1px solid ivory; */
}

.mainheader img {
    width: 110px;
    height: auto;
    margin: 1rem;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    /* border: 1px solid ivory; */
}

.name {
    padding: 1rem;
    margin: 0;
    color: var(--ivory);
    font-size: 1.7rem;
    font-weight: bold;
    /* border: 1px solid ivory; */
}

nav {
    background-color: #3F88C5;
}

#navmenu {
    list-style: none;
    margin: 0 auto;
}

#navmenu li {
    display: none;
}

#navmenu a {
    display: block;
    text-decoration: none;
    color: var(--ivory);
    text-align: center;
    padding: 1rem;
}

#navmenu a:hover,
#navmenu a:active {
    border: 1px solid var(--ivory);
}

.show li {
    display: block;
}